<%= form_for(score) do |f| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>
      <ul>
        <% score.errors.full_messages.each do |message| %>
          <li><%= message.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %>
    <%= select :game_id, :game_id, {"Unity Zombie Action 3D" => 1, "KAMADA-ACTION" => 2, "2Dシューティング" => 3, "高橋ゲーム" => 4, "ライトヴァース" => 5 } %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control', :value => "#{session[:admin_score_name]}" %>
  </div>


  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
