<div class="body">
  <h1>
    <%= @game.title.to_s %>の全スコアランキング
    <small class="text-muted">現在このゲームの合計参加者数:  <%= @game.join_people %></small>
  </h1>
  <div class="alert alert-warning" role="alert">
    <strong>while_loopではすべてのスコアを10,00点に一律させています</strong>
  </div>
  <br>
  <%= form_tag("/scores/search", method: "post") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :q %>
    <%= hidden_field_tag :id , @game.id %>
    <%= submit_tag("Search") %>
  <% end %>
  <br>

  <% @game_score.each_with_index do |score, index| %>
    <div class="score-ranking">
      <li><h2><%= "#{index + 1}位 #{score.name}さん" %></h2></li>
      <li><h2><%= score.score %>点</h2></li>
    </div>
  <% end %>
  <%= paginate @game_score %>
</div>
