<!-- スライドショー -->
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css">
<!-- スライドショー -->

<div class="slide">
  <div class="main-gallery">
    <img src="" height="667" width="1000" alt="" class="gallery-cell">
    <img src="" height="667" width="1000" alt="" class="gallery-cell">
    <img src="" height="667" width="1000" alt="" class="gallery-cell">
  </div>
</div>

<div class="body">
  <h1>while_loop</h1>
  <p>おっぱいをおっぱいする学園祭</p>
  <h1>現在の人気ゲームランキング！！</h1>
  <div class="message" style="color:red; font-size: 36px;text-align:center;"></div>
  <div class="game-list">
    <% @games.each_with_index do |game, index| %>
      <h2><%= "#{index.to_i + 1}位(#{game.like}票):" %>  <%= link_to game.title, game_path(game) %></h2>
      <div class="game-image">
        <%= image_tag game.banner_url.thumb.url %>
      </div>
      <ol>
        <li>Creater: <%= game.create_team %></li>
        <li>Bio: <%= game.bio %></li>
        <li><button class="ballot" value="<%= game.id %>" >一票</button></li>
      </ol>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $('.main-gallery').flickity({
      initialIndex: 1,
      cellAlign: 'left',
      contain: true,
      wrapAround: true,
      imagesLoaded: true,
      draggable: true,
      prevNextButtons: true,
      pageDots: true,
      accessibility: true,
      autoPlay: 4000
    });
  });
</script>
