<div class="slide"><%= image_tag @game.banner_url.thumb.url %></div>
<div class="body game-show">
  <p id="notice"><%= notice %></p>

  <p>
    <h2>【ゲーム名】</h2>
    <h3><%= @game.title %></h3>
  </p>

  <p>
    <h2>【作成者】</h2>
    <h3><%= @game.create_team %></h3>
  </p>

  <p>
    <h2>【ゲーム説明】</h2>
    <h3><%= @game.bio %></h3>
  </p>

  <p>
    <h2>【良いね数】</h2>
    <h3><%= @game.like %></h3>
  </p>

  <p>
    <h2>【ハイスコアトップ３】</h2>
    <% @game_score.each_with_index do |score, index| %>
      <div class="score-ranking">
        <h1><%= "#{index + 1}位 #{score.name}さん" %></h1>
        <h2><%= score.score %>点</h2>
      </div>
    <% end %>
    <%= link_to "すべてのスコアを見る", score_path %>
  </p>

</div>
